version: '3.8'
services:
  web-app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis-db
  
  redis-db:
    image: "redis:alpine"
    # PHASE 3 CHALLENGE: ADD VOLUME
    volumes:
      - redis_data:/data 

volumes:
  redis_data: