version: '3.8'

services:
  backend:
    build: ./app
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=redis-db
    depends_on:
      - redis-db
    restart: always  # Helps recover if killed
    networks:
      - dev-net

  redis-db:
    image: redis:alpine
    container_name: dev-redis
    volumes:
      - redis-data:/data
    networks:
      - dev-net

volumes:
  redis-data:

networks:
  dev-net: